// ---------------- Foundation Overrides ----------------


// ---------------- TimerForm.jsx ----------------
.timer-form {
  .button {
    outline: none;
  }

  input[type='text'] {
    display: inline;
    outline: none;
    width: 47.5%;

    &:first-child {
      margin-right: 5%;
    }
  }
}


// ---------------- Controls.jsx ----------------
.controls {
  display: flex;
  justify-content: center;

  .button {
    outline: none;
    padding: .8rem 3rem;

    &:first-child {
      margin-right: 1.5rem;
    }
  }
}
